<header class="header">

    {% block sonata_header_noscript_warning %}
        <noscript>
            <div class="noscript-warning">
                {{ 'noscript_warning'|trans({}, 'SonataAdminBundle') }}
            </div>
        </noscript>
    {% endblock %}

    {% block logo %}
        {% spaceless %}
            <a class="logo" href="{{ url('sonata_admin_dashboard') }}">
                {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                    <img src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}">
                {% endif %}
                {% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                    <span>{{ admin_pool.title }}</span>
                {% endif %}
            </a>
        {% endspaceless %}
    {% endblock %}

    {% block sonata_nav %}
        {% if admin_pool is defined %}
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-left">
                    {% block sonata_breadcrumb %}
                        {% if _breadcrumb is not empty or action is defined %}
                            <ol class="nav navbar-top-links breadcrumb">
                                {% if _breadcrumb is empty %}
                                    {% if action is defined %}
                                        {% for menu in admin.breadcrumbs(action) %}
                                            {% if not loop.last  %}
                                                <li>
                                                    {% if menu.uri is not empty %}
                                                        <a href="{{ menu.uri }}">{{ menu.label|raw }}</a>
                                                    {% else %}
                                                        {{ menu.label }}
                                                    {% endif %}
                                                </li>
                                            {% else %}
                                                <li class="active"><span>{{ menu.label }}</span></li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {{ _breadcrumb|raw }}
                                {% endif %}
                            </ol>
                        {% endif %}
                    {% endblock sonata_breadcrumb %}
                </div>

                {% block sonata_top_nav_menu %}
                    <div class="navbar-right">
                        {% block sonata_sidebar_search %}
                            {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
                                <form action="{{ url('sonata_admin_search') }}" method="GET" class="navbar-form" role="search">
                                    <div class="input-group custom-search-form">
                                        <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-flat" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                    </div>
                                </form>
                            {% endif %}
                        {% endblock sonata_sidebar_search %}

                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                                </a>
                                {% include admin_pool.getTemplate('add_block') %}
                            </li>
                            <li class="dropdown user-menu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    {% include admin_pool.getTemplate('user_block') %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endblock %}
            </nav>
        {% endif %}
    {% endblock sonata_nav %}
</header>
